{% extends "layout3.html" %}
{% block content %}
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col"><center>Código</center></th>
      <th scope="col"><center>Nombre</center></th>
      <th scope="col"><center>Dirección</center></th>
      <th scope="col"><center>Correo</center></th>
      <th scope="col"><center>Acudiente</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><center>1009</center></th>
      <td><center>Sofia Bonilla</center></td>
      <td><center>Calle 65 #8c-2</center></td>
      <td><center>2420171072@estudiantesunibague.edu.co</center></td>
      <td><center>Nelly Beltran</center></td>
    <tr>
      <th></th>
      <td colspan="4"><iframe src="https://www.google.com/maps/embed?pb=!4v1573453098123!6m8!1m7!1svMUwdh72-wsmMLMHcpweuQ!2m2!1d4.441882363024757!2d-75.19780711019673!3f79.52900700165388!4f-11.392886526790633!5f0.7820865974627469" width="700" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
    </tr>
    <tr>
      <td></td>
      <td><center><a class="btn btn-primary" href='/ingresovuelta/1009'>Ingreso</a> <span class="sr-only">(current)</span><center></td>
      <td><a class="btn btn-danger" href='/ausentevuelta/1009'>Ausente</a> <span class="sr-only">(current)</span><td>
      <td><center><a class="btn btn-warning" href='/vuelta/1003'>Siguiente</a> <span class="sr-only">(current)</span></td>
    </tr>
  </tbody>
</table>
{% endblock %}
