{% extends "layout3.html" %}
{% block content %}
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col"><center>Código</center></th>
      <th scope="col"><center>Nombre</center></th>
      <th scope="col"><center>Dirección</center></th>
      <th scope="col"><center>Correo</center></th>
      <th scope="col"><center>Acudiente</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><center>1007</center></th>
      <td><center>Juan Leon</center></td>
      <td><center>Conjunto Resdencial Torremolino</center></td>
      <td><center>2420171013@estudiantesunibague.edu.co</center></td>
      <td><center>Camilo Leon</center></td>
    <tr>
      <th></th>
      <td colspan="4"><iframe src="https://www.google.com/maps/embed?pb=!4v1573240118058!6m8!1m7!1srm_Y-XvUZ1EgsLfZSJKZ0A!2m2!1d4.440596562651847!2d-75.19953154779688!3f156.92585637597873!4f-7.158353263197483!5f0.7820865974627469" width="700" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
    </tr>
    <tr>
      <td></td>
      <td><center><a class="btn btn-primary" href='/ingresovuelta/1007'>Ingreso</a> <span class="sr-only">(current)</span><center></td>
      <td><a class="btn btn-danger" href='/ausentevuelta/1007'>Ausente</a> <span class="sr-only">(current)</span></a><td>
      <td><center><a class="btn btn-warning" href='/vuelta/1005'>Siguiente</a> <span class="sr-only">(current)</span></td>
    </tr>
  </tbody>
</table>
{% endblock %}
