{% extends "layout3.html" %}
{% block content %}
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col"><center>Código</center></th>
      <th scope="col"><center>Nombre</center></th>
      <th scope="col"><center>Dirección</center></th>
      <th scope="col"><center>Correo</center></th>
      <th scope="col"><center>Acudiente</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><center>1008</center></th>
      <td><center>Juan Ardila</center></td>
      <td><center>Conjunto Resdencial Ocobos 3ra y 4ta etapa</center></td>
      <td><center>2420171013@estudiantesunibague.edu.co</center></td>
      <td><center>Roberto Ardila</center></td>
    <tr>
      <th></th>
      <td colspan="4"><iframe src="https://www.google.com/maps/embed?pb=!4v1573240066006!6m8!1m7!1sW3-ZA9KKAiHR22NYx4rjqg!2m2!1d4.440704908716937!2d-75.1979640313586!3f159.31873110580514!4f-5.124128396952102!5f0.7820865974627469" width="700" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
    </tr>
    <tr>
      <td></td>
      <td><center><a class="btn btn-primary" href='/ingresovuelta/1008'>Ingreso</a> <span class="sr-only">(current)</span><center></td>
      <td><a class="btn btn-danger" href='/ausentevuelta/1008'>Ausente</a> <span class="sr-only">(current)</span><td>
      <td><center><a class="btn btn-warning" href='/vuelta/1004'>Siguiente</a> <span class="sr-only">(current)</span></td>
    </tr>
  </tbody>
</table>
{% endblock %}
