{% extends "layout.html" %}
{% block content %}
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col"><center>Código</center></th>
      <th scope="col"><center>Nombre</center></th>
      <th scope="col"><center>Dirección</center></th>
      <th scope="col"><center>Correo</center></th>
      <th scope="col"><center>Acudiente</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><center>1006</center></th>
      <td><center>Miguel Gonzalez</center></td>
      <td><center>Mz O Casa 14 Arkalucia</center></td>
      <td><center>2420171013@estudiantesunibague.edu.co</center></td>
      <td><center>Angie Calle</center></td>
    <tr>
      <th></th>
      <td colspan="4"><iframe src="https://www.google.com/maps/embed?pb=!4v1572644150096!6m8!1m7!1sdNBPrAyLzvjLFagrNcQkMw!2m2!1d4.439412967489211!2d-75.2000858771354!3f117.38925017232987!4f-1.9834800306753522!5f0.7820865974627469" width="700" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
    </tr>
    <tr>
      <td><center><input class="btn btn-success" type="button" value="Cuenta Regresiva" onclick="cuenta()"><div id="cuenta">0</div></td></center>
      <td></td>
      <td><center><a class="btn btn-primary" href='/ingreso/1006'>Ingreso</a> <span class="sr-only">(current)</span><center></td>
      <td><a class="btn btn-danger" href='/ausente/1006'>Ausente</a> <span class="sr-only">(current)</span></a><td>
      <td><center><a class="btn btn-warning" href='/siguiente/1007'>Siguiente</a> <span class="sr-only">(current)</span></td>
    </tr>
  </tbody>
</table>
<html>
<head>
<script>
 var timeLimit  = 5; //tiempo en minutos
 var conteo = new Date(timeLimit * 60000);

 function inicializar(){
    document.getElementById('cuenta').childNodes[0].nodeValue =
                conteo.getMinutes() + ":" + conteo.getSeconds();
 }
 function cuenta(){
    intervaloRegresivo = setInterval("regresiva()", 1000);
 }
 function regresiva(){
    if(conteo.getTime() > 0){
       conteo.setTime(conteo.getTime() - 1000);
    }else{
       clearInterval(intervaloRegresivo);
       alert("Fin");
    }
    document.getElementById('cuenta').childNodes[0].nodeValue =
                conteo.getMinutes() + ":" + conteo.getSeconds();
 }
 onload = inicializar;
</script>
</head>
{% endblock %}
