{% extends "layout.html" %}
{% block content %}
<table class="table table-light">
  <tr>
    <td><center><iframe src="https://www.google.com/maps/embed?pb=!4v1573588906591!6m8!1m7!1sGl9k26eX91uklhXydcC7yg!2m2!1d4.449067648479969!2d-75.20013497782377!3f38.587187076183596!4f-4.884604921749045!5f0.7820865974627469" width="1050" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe></center><td>
  </tr>
  <tr>
    <td><a class="btn btn-danger btn-lg btn-block" href='/finida'>Finalizar Ruta</a> <span class="sr-only">(current)</span><td>
  </tr>
</table>
{% endblock %}
